h1 {
    font-family: 'poppins',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 84px;
    line-height: 102px;    
    letter-spacing: -2px;    
    color: #FFFFFF;
}

p {
    font-family: 'source sans pros',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
}

.navigation {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}