 

nav {  
    width: 56%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40px;
}

.logo {
    width: 90px;
    height: 36px;
    margin-top: 62px;
    margin-left: 50px;
    margin-right: 30px;
    display: inline;
}

ul {
    list-style: none;
    width: 267px;
    height: 25px;
    display: inline;   
    margin-top: 78px; 
} 

li {
    display: inline;
    margin-right: 30px;
    margin-top: 40px;
}
   

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;    
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}