body {
    background-color: black;
    margin: auto;
    width: 100%;
    min-height: 880px
}
main {
    max-width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main_image {
    max-width: 75%;
    min-height: 75%;
    margin-left: 50px;
}

div {
    max-width: 25%;
    margin-right: 50px;
}